.heading {
    text-align: center;
}
body {
    background-color:lightslategray;
    font-family: sans-serif;
}
.ULTRAKILL {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:crimson;
}
.ULTRAKILL:visited {
    color: crimson
}