body {
    background-image:url(https://preview.redd.it/heres-all-the-in-game-backgrounds-for-all-your-background-v0-jzwxwz3fggea1.png?width=1080&crop=smart&auto=webp&v=enabled&s=13eb4309e9a2ea160775a14092f862a06404d575);
    font-family:sans-serif;
}
div {
    background-color:burlywood;
}