.Intro {
    text-align: center;

}
body {
    font-family: sans-serif;
    background-image:url(https://wallpapers.com/images/hd/minimalist-blue-nintendo-switch-art-cm5nao92ebfwawhf.webp);
}
.switch {
    background-color:black;
    color:white;
}