body {
    background-color:darkred;
    font-family:sans-serif
}
h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
div {
    background-color:grey;
}
.quote {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
hr {
    background-color:black;
    border-color:black;
    height: 3px;
}
.WhyIsItSoBig {
    width:500px;
}